@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.form-donate{
    position: relative;
    width: 500px;
    margin: 50px auto;  
    padding: 20px;
    border-radius: 5px;
    background-color:rgba(151, 165, 151, 0.432);
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}
.donate-form{
    margin-top: 10px;
    margin-bottom: 40px;
} 
.btn-ungho {
    background-color: #FF685B;
    margin-top: 20px;
    color: white;
    border-color: #FF685B;
}
.btn-ungho:hover{
     background-color: #f04030;
     color: white;
}
.title{
    margin-top: 20px;
}
 
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
  }
  
  @media screen and (max-width: 1024px) { 
    img.bg {
      left: 50%;
      margin-left: -512px;  
    }
  }

.inputbox > label{
    margin-top: .5rem;
    margin-bottom: 0px;
    font-weight: 800;
    opacity: 0.8;
}

label.radio {
    cursor: pointer
}
.name-card{
    text-transform: uppercase;
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 7px 12px;
    border: 2px solid #FF685B;
    display: inline-block;
    color: #FF685B;
    border-radius: 3px;
    text-transform: capitalize;
}

label.radio input:checked+span {
    border-color: #FF685B;
    background-color: #FF685B;
    color: #fff
}
.method-payment{
    justify-content: space-between;
    display: flex;
}


label.radio1 {
    cursor: pointer;
    width: 100%;
    margin-right: 7px
}

label.radio1 input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio1 span {
    padding: 20px 27px;
    border: 2px solid #FF685B;
    display: inline-block;
    color: #FF685B;
    border-radius: 3px;
    text-transform: capitalize;
    width: 100%
}

label.radio1 input:checked+span {
    border-color: #FF685B;
    background-color: #FF685B;
    color: #fff
}

.form-control {
    border: 2px solid #ced4da
}

.form-control:focus {
    box-shadow: none;
    border-color: #FF685B
}

