* NEWS.HTML*/
.news-html{
    margin-top: 50px;
}
.news-html h2{
        font-weight: 600;
        color: #FF685B;
        margin: 0px 30px;
        padding-bottom: 40px;
    }
.news-html .box-news {
    display:flex;
    padding: 50px 40px;
    margin-top: 5px;
    background-color: #EEF4F8
    }
.news-html .box-news .post-date{
    padding: 0px 10px 0px 0px;
}

.news-html .box-news .post-date em{
    font-style: normal;
}  

.news-html .box-news .post-date .published .post-date-month{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.news-html .box-news .post-date .published .post-date-year{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 26px; 
}
.news-html .box-news .post-date .published .post-date-day{
    display: inline-block;
    border-top: 4px solid #878a8b;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}
.news-html .box-news .post-img{
    background: url(../img/phuyen.jpg);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.news-html .box-news .post-content{
    margin-left: 10px;
}
.news-html .box-news .post-content a{
    text-decoration: none;
    color: #000;
}
.news-html .box-news .post-content a h4{
    font-size: 30px;
    font-weight: 550;
    opacity: 0.7;
    word-spacing: 2px;
    transition: 0.3s ease-in-out;
}
.news-html .box-news .post-content a:hover h4{
    opacity: 1;
    color: #ff685b;
}
.news-html .box-news .post-content .post-button button.read-more:hover {
    background-color: #120029;
}
.news-html .box-news .post-content .post-button button.donate-btn:hover {
    background-color: #f04030;
}
.news-html .box-news .post-content .post-button .read-more{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #2a015b;
    color: #ffff;
    border-color: #2a015b;
    margin-right: 10px;
}
.news-html .box-news .post-content .post-button .donate-btn{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff685b;
    color: #ffff;
    border-color: #ff685b;
}
/*End NEWS*/

/* pagination*/
.news-html .next-page{
    width: 1140px;
    height: 100px;
    margin: 0px auto;
    display: flex;
}
.next-page .box-next-page{
    width: 50%;
    height: 50%;
    margin: auto auto;
}
.pagination-style-three a{ 
    padding: 5px 10px;
    background: #ff685b;
    color: white;
    border-radius: 25px; 
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.1);
    margin: 9px 6px;
}
.pagination-style-three a.selected,
 .pagination-style-three a:hover, 
.pagination-style-three a:active,
.pagination-style-three a:focus {
     background: #f04030; 
}