@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Be+Vietnam:ital@1&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&family=Viaoda+Libre&display=swap');
*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}
.col-md-6{
    /* padding:0px;
    margin: 0px; */
}
html,body{
    /* background-color: #FDE4D1; */
    font-family: 'Be Vietnam', sans-serif;
    
}
img{
    width: 100%;
}
.container-fluid{
    background-color: rgb(237, 243, 248);
    padding: 2% 5%;
    background-size: cover;
    /* height: 10000px; */
}

.navbar{
    padding: 0px;
}
.navbar a{
    color:#272C1D;
    font-size: 35px;
    opacity: 0.7;
    padding: 0px;
    text-decoration: none;
}
.navbar li a{
    color:#272C1D;
    font-size: 18px;
    opacity: 0.7;
    height: 40px;
    line-height: 40px;
    min-width: 120px;
    /* display:block; */
    text-align: center;
}
.navbar li a:hover{
    color:white !important;
    background-color:#5AACA8 ;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.19);
    transition: 0.5s ease-in-out;
}
.navbar li{
    /* background-color: #FDE4D1; */
    padding:0 15px;
}
.navbar li a:hover{
    color: #F25817;
}

.content{
   
}
.content h1{
    font-size:47px;
    font-weight: 700;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
}
.content p{
    opacity: 0.7;
}
.content .introduction-content{
    padding-top:10%;
}
.content .button-submit{
    width: 160px;
    height: 45px;
    /* line-height: 40px; */
    cursor: move;
    background-color: #FF685B;
    border-color: #FF685B;
    animation-duration: initial;
}
.content .button-video{
    font-size: 25px;
    color: #FF685B;
    border-radius: 50%;
    position: absolute;
    top: 8.5px;
    right: 9px;
    
}
.content .video_icon{
    position: relative;
    height: 45px;
    width: 45px;
    background-color: aliceblue;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    margin: 0;
}
.content #font-text-icon{
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
}

 
        /* OUR featurs */
.container-content{
            padding:  5% 10%;
}
.container-content .title-company{
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: auto;
}
.container-content .title-company:hover{
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.1);
}


.container-content p{
    opacity: 0.7;
    /* padding-top: 5%; */
}
.container-content .featurs-card{
   padding-top:5%;
}
.container-content .featurs-card .icon{
    width:40px;
    height:40px;
    background-color: #5AACA8;
    border-radius: 10px;
    display: block;
    position: relative;
    margin:auto;
    /* top:50%; */
    /* right:50%;
    opacity: 0.5; */
    display:flex;
}
.container-content .featurs-card >.icon1{
    background-color:#FFF0EA;
}
.container-content .featurs-card >.icon2{
    background-color:#ECE9FE;
}
.container-content .featurs-card >.icon3{
    background-color:#E5F9F7;
}

.container-content .featurs-card .icon i{
    font-size: 40px;
    color:#FF7468;
    /* background-color: #FEEFE9; */
    border-radius: 10px;
    position: absolute;
    top:15px;
    left:15px;
}
.container-content .featurs-card .icon .icon1{
    color:#FF7468;
}
.container-content .featurs-card .icon .icon2{
    color:#423B7D;
}
.container-content .featurs-card .icon .icon3{
    color:#5AACA8;
}


.container-content .featurs-card h4{
    padding: 5% 0;
    font-weight: 600;
}
 .display-5{
    font-weight: 600;
}
.container-content .btn-ungho{
    padding-top: 5%;
}
.container-content .btn-ungho #btn-ungho{
    width: 160px;
    height: 45px;
    /* line-height: 29px; */
    /* cursor: move; */
    background-color: #FF685B;
    border-color: #FF685B;
    /* animation-duration: initial; */
    
}


    /* about-charity */

.about-charity .fa-check-circle{
    color: #5AACA8;
    font-size: 25px;
    padding: 5px;
    width: 500px;
    text-align: left;
    
}

.about-charity .point-check li .text-check{
   color:black;
   font-family: 'Be Vietnam', sans-serif;
}
.about-charity .charity-picture{
    height: 600px;
    width: 600px;
    /* background-color:black; */
    position: relative;
    /* display: flex; */
}
.about-charity .charity-picture .clip{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    border-radius: 150px;
    /* display: flex; */
}
.about-charity .charity-picture .clip.clip1{
    /* background-color: red; */
    width: 600px;
    height: 600px;
    background-image: url(img/tuthien1.jpg);
    background-size: cover;
    clip-path: polygon(50% 0, 100% 0, 56% 100%, 20% 100%);
}
.about-charity .charity-picture .clip.clip2{
    width: 600px;
    height: 600px;
    background-image: url(img/tuthien2.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 56% 100%);

}
.about-charity .charity-picture .clip.clip3{
    width: 600px;
    height: 600px;
    background-image: url(img/tuthien3.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 50% 0, 20% 100%, 0% 100%);

}
.about-charity .charity-picture:hover .clip{
    /* clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); */
}
.about-charity .charity-picture .clip:hover{
   
    z-index: 1;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    /* transition: ease-in-out; */
}
.about-charity .charity-picture .clip .content{
    /* position: absolute;
    bottom: -100%;
    left:0; */
    margin-top: 400px;
    margin-left: 90px;
    width: 70%;
    padding:20px; 
    background-color: #fff;
    opacity:0;
    border-radius: 50px;
    /* transition: 0.5s; */
}
.about-charity .charity-picture .clip:hover .content{
    bottom: 0;
    opacity:0.7;
}

/* .anh-ung-ho{
    height: 555px;
    width: 455px;
} */



    /* our-mission */
    .our-mission .content-number{
        height: 100px;
        /* margin: 30px 30px; */
        /* padding: ; */
        text-align: center;
        line-height: 100px;
    }
    .our-mission .content-number .number .number{
       height: 50px;
       width: 50px;
       /* padding: 20px; */
        
        /* padding: ; */
    }
    .hinhvuong{
        padding: 20px;
    }

  /* <!-- SLIDER ----------------------------- --> */
    /* .slider-content{
        background: black;
        height: 100vh;
    } */
    .slider-content {
        background: #00838d;
        padding-right: 0;
    }
    .container-content .row .div-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-content .row .div-btn button{
        width: 50px;
        height: 50px;
        background-color: #ffff;
        /* font-size: 20px; */
        margin: 20px;
        transition: 0.7s;
       
    }
    .container-content .row .div-btn button:hover{
        background-color: #423B7D;
        
    }
     /* .cs-hidden {
        height: 500px;
        /* opacity: 0;
        filter: alpha(opacity=0);
        overflow: hidden; */
        */
        /* .lSPager {
            opacity: 0;
        } */

    .container-slider{
        background: #EEF4F8;
        height: 500px;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-slider .box{
        width: 300px;
        height: 450px;
        background-color: #ffff;
        border-radius: 10px;
        box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.1);
        padding:15px;
        position: relative;
        margin: 20px;
    }
    .container-slider .box:hover{
        background-color: #F4F9F1;
        transform-style: preserve-3d;
        transform: scale(1.02);
        transition: all ease 0.3s;
    }
    /* .container-slider .box {
        display: block;
        top: 0px;
        position: relative;
        max-width: 262px;
        background-color: #f2f8f9;
        border-radius: 4px;
        padding: 32px 24px;
        margin: 12px;
        text-decoration: none;
        overflow: hidden;
        border: 1px solid #f2f8f9;
        } */
        .container-slider .box .go-corner {
        opacity: 0.7;
        }
        .container-slider .box:hover {
        border: 1px solid #00838d;
        /* box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5); */
        z-index: 500;
        }
        
        .container-slider .box:hover p {
        color: #00838d;
        }
       

        
    .container-slider .box .home{
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 5px;
        background-color: #423B7D;
        position: absolute;
        color: #ffff;
        top: 25px;
        left: 25px;
    }
    .container-slider .box .next{
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 5px;
        background-color: #5AACA8;
        position: absolute;
        color: #ffff;
        top: 25px;
        right: 25px;
    }
    .container-slider .box h5{
        font-size: 20px;
        margin:0px;
        margin-top: 10px;
        font-weight: 600;
    }
    .container-slider .box p{
        opacity: 0.7;
        padding: 0;
        margin-top: 10px;
    }
    .container-slider .box img{
        border-radius: 10px;
    }
    .container-slider .box .money-content{
        display: flex;
        justify-content: space-between;
    }
    .container-slider .box .money-content section{
        flex: 1;
    }
    .container-slider .box .progress-bar-tab {
        text-align: right;
        margin-top: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-slider .box .progress{
       margin:0px;
       line-height: 31px;
       width: 80%;
       border-radius: 30px;
       height: 7px;
    }
    /* .container-slider .box .progress b{
       text-align: right;
     } */
    .container-slider .box .progress .bar{
        width: 90%;
        background-color: #423B7D;
    }

    .container-slider .box .footer-box .avatar-group .avatar{
        width: 35px;
        height: 35px;
        /* margin-top: 10px; */
        border-radius: 50%;
        overflow: hidden;
        /* background-color: #2c303a; */
        border: 2px solid #2c303a;
        margin-right: -10px;
    }
    .container-slider .box .footer-box .avt-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border-radius: 50%; */
    }
    .container-slider .box .footer-box .avatar-group{
        display: flex;
        /* margin-top: 10px; */
        /* line-height: 50px; */
        flex-wrap: wrap;
        align-items: center;
    }
    .container-slider .box .footer-box .avatar-group .hidden-avatar{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #2c303a;
        color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        text-align: center;
    }
    .container-slider .box .footer-box {
        display: flex;
        flex-direction: row;
        height: 50px;
        
    }
    .container-slider .box .footer-box .donate-slider{
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        display: flex;
    }
    .container-slider .box .footer-box .donate-slider .donate-btn{
        width: 110px;
        height: 40px;
        border-radius: 10px;
        background-color: #FF7468;
        color: #ffff;
        border-color: #FF7468;
    }





    /* <!-- FOOTER ----------------------------- --> */
    .footer{
        background-color: #EEF4F8;
        background-size: cover;
        /* height: 500px; */
        background-repeat: no-repeat;
        /* background-color: ; */
    }
    .footer h5{
        font-weight: 600;
    }
    .footer-form{
        height: 60px;
    }
    .footer .footer-form .footer-text{
        width: 300px;
        height: 50px;
        border: none;
        padding-left: 10px;
        /* line-height: 60px; */

        background-image: url(img/mail-icon.svg);
        background-size:contain;
        background-repeat: no-repeat;
        text-indent: 30px;
        background-size: 25px;
        background-position: 10px center ;
        
    }
    .footer .footer-form .footer-text:focus{
        background-image:none;
        text-indent:0px;
        transition: 0.3s;
    }
    .footer .footer-form .footer-btn{
        width: 100px;
        height: 50px;
        background-color: #FF685B;
        border-color: #FF685B;
        border-radius: 5px;
        border-color:#FF685B;
        color: #ffff;
        margin-left: 5px;
        /* box-shadow: none; */
        /* line-height: 60px; */
    }
    .footer .col-footer{
        margin-top: 20px;
        /* margin-bottom: 10px; */
    }
    .footer li{
        list-style: none;
        padding-top:15px;
        opacity:0.7;
    }
    .footer li i{
        color:#FF685B;
        opacity:0.7;
    }
    .footer li a {
        color: #272C1D;
        opacity:0.7;
    }
    .footer li:hover{
        letter-spacing: 1px;
        transition: 0.3s;
        
    }
    .footer li a:hover{
        text-decoration-line: none;
        text-shadow: #423B7D;
        
    }


    .footer .footer-social{
        display: inline-flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .footer .footer-social .social-block{
        width: 40px;
        height:40px;
        justify-content: space-between;
        margin-right: 15px;
        border-radius: 10px;
        background-color: #ffff;
    }
    .footer .footer-social .social-block i {
        font-size: 15px;
        text-align: center;
        display: block;
        line-height: 40px;
        color: black;
    }
    .footer .footer-social .social-block:hover{
        background-color:#423B7D;
        text-decoration: none;
        
    }
    .footer .footer-social .social-block i:hover{
        color:#ffff;
        transition: 0.3s;
        
    }

    .go-to-top{
    z-index: 9999;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #2a015b;
    color: #fff;
    position: fixed;
    right: 50px;
    bottom: 25%;
    cursor: pointer;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    }
    .go-to-top.show {
        visibility: visible;
        opacity: 1;
    }
    .box-shadow {
        box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 20%);
        -webkit-box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 20%);
        -moz-box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
    }
    .fa-arrow-up:before {
        content: "\f062";
    }
    .fa{
        font-family:'Font Awesome 5 Free';
        font-weight:900
    }
    .img-news-left{
        border-radius: 3%;
        -moz-border-radius:3%;
        -webkit-border-radius:3%;
    }
    ul{
        list-style-type: none;
    }
    .cal-user-comment li{
        float: left;
        padding-right: 91px;
        font-size: smaller;
    }
    .cal-user{
        /* float: right; */
        /* font-size: small; */
 
        
    }
    .cal-user li{
        float: left;
        padding-right: 30px;
        font-size: small;
        
    }
    .conten-left-end{
        padding-right: 1px;
    }

    .content-end{
       width: 630px;
       height: 491px;
       /* border: 1px solid red; */
    }
    .content-box{
        /* padding: 2px 2px; */
        /* background-color:blanchedalmond; */
        /* height: max-content; */
        /* float:right; */
        float: left;
        width: 330px;
        /* background-color: blue; */
        margin: 19px 10px;
        
    }
    .big-box{
        background-color: #fbf9f9;
        height: 890px;
    }
    .box-inside{
        height: 190px;
        margin: 50px 0px 50px 20px;
        /* background-color: #F25817; */
        /* display: flex */
    }
    .box-inside img{
        height: 160px;
        width: 240px

    }
    .abc{
        float:left;
        margin: 15px 15px;
    }
    .btn-primary{
        color: #fff;
        background-color: #5aaca8;
        border-color: #5aaca8;
        border-radius: 50px;
        /* margin-top: -20px; */
    }
    /* .fi-chevron-right {
        content: "\e810";
    } */
    .ct-left {
        /* margin-top: px; */
    }
    
    
    


